swagger: '2.0'
info:
  title: Bank Argent API documentation
  description: Contains all available API endpoints in this codebase
  version: '1.0.0'
  termsOfService: 'http://swagger.io/terms/'
host: localhost:3001
basePath: /api/v1
schemes:
  - http
paths:
  /user/login:
    post:
      tags:
        - User Module
      summary: Login
      description: API for Login
      parameters:
        - in: body
          name: body
          description: Login Payload
          required: true
          schema:
            $ref: '#/definitions/Login'
      produces:
        - application/json
      responses:
        '200':
          description: Login Successfully
          schema:
            $ref: '#/definitions/LoginResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
  /user/signup:
    post:
      tags:
        - User Module
      summary: Signup
      description: API for Signup
      parameters:
        - in: body
          name: body
          description: Signup Payload
          required: true
          schema:
            $ref: '#/definitions/User'
      produces:
        - application/json
      responses:
        '200':
          description: Signup Successfully
          schema:
            $ref: '#/definitions/ApiResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
  /user/profile:
    post:
      security:
        - Bearer: []
      tags:
        - User Module
      summary: User Profile API
      description: API for fetching a user profile
      parameters:
        - in: header
          name: Authorization
          description: Attach Bearer JWT token
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: User profile retrieved successully
          schema:
            $ref: '#/definitions/ApiResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
    put:
      security:
        - Bearer: []
      tags:
        - User Module
      summary: User Profile API
      description: API for updating a user profile
      parameters:
        - in: header
          name: Authorization
          description: Attach Bearer JWT token
          required: true
          type: string
        - in: body
          name: body
          description: Update user profile attributes
          required: true
          schema:
            $ref: '#/definitions/UserProfile'
      produces:
        - application/json
      responses:
        '200':
          description: User profile retrieved successully
          schema:
            $ref: '#/definitions/ApiResponse'
        '400':
          description: Invalid Fields
        '500':
          description: Internal Server Error
  /transactions:
    get:
      tags:
        - Transactions Module
      summary: View All Transactions for Current Month
      description: Retrieve all transactions for the current month, grouped by account
      parameters:
        - in: header
          name: Authorization
          description: Attach Bearer JWT token
          required: true
          type: string
        - name: month
          in: query
          description: Month for filtering transactions
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: Success - Returns all transactions grouped by account
          schema:
            $ref: '#/definitions/GetAllTransactions'
        '400':
          description: Bad Request - Invalid payload
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error

  /transactions/{id}:
    get:
      tags:
        - Transactions Module
      summary: View Single Transaction Details
      description: Retrieve details of a single transaction
      parameters:
        - in: header
          name: Authorization
          description: Attach Bearer JWT token
          required: true
          type: string
        - name: id
          in: path
          description: Transaction ID
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: Success - Returns details of the transaction
          schema:
            $ref: '#/definitions/TransactionSchema'
        '400':
          description: Bad Request - Invalid payload
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error

    post:
      tags:
        - Transactions Module
      summary: Create Transaction information
      description: Create a new infomation for a single transaction 
      parameters:
        - in: header
          name: Authorization
          description: Attach Bearer JWT token
          required: true
          type: string
        - name: id
          in: path
          description: Transaction ID
          required: true
          type: string
        - in: body
          name: body
          description: New Transaction Payload
          required: true
          schema:
            $ref: '#/definitions/NewTransactionSchema'
      produces:
        - application/json
      responses:
        '201':
          description: Success - Transaction information created successfully
          schema:
            $ref: '#/definitions/TransactionSchema'
        '400':
          description: Bad Request - Invalid payload
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error

    put:
      tags:
        - Transactions Module
      summary: Update Transaction Information
      description: Update information for a transaction
      parameters:
        - in: header
          name: Authorization
          description: Attach Bearer JWT token
          required: true
          type: string
        - name: id
          in: path
          description: Transaction ID
          required: true
          type: string
        - in: body
          name: body
          description: Transaction Payload
          required: true
          schema:
            $ref: '#/definitions/NewTransactionSchema'
      produces:
        - application/json
      responses:
        '200':
          description: Success - Transaction updated successfully
          schema:
            $ref: '#/definitions/TransactionSchema'
        '400':
          description: Bad Request - Invalid payload
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error

    delete:
      tags:
        - Transactions Module
      summary: Delete Transaction information
      description: Delete information for a transaction
      parameters:
        - in: header
          name: Authorization
          description: Attach Bearer JWT token
          required: true
          type: string
        - name: id
          in: path
          description: Transaction ID
          required: true
          type: string
        - in: body
          name: body
          description: Transaction Payload
          required: true
          schema:
            $ref: '#/definitions/NewTransactionSchema'
      produces:
        - application/json
      responses:
        '204':
          description: Success - Transaction specific info deleted successfully
          schema:
            $ref: '#/definitions/TransactionSchema'
        '400':
          description: Bad Request - Invalid payload
        '401':
          description: Unauthorized
        '500':
          description: Internal Server Error


securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
definitions:
  User:
    type: object
    properties:
      email:
        type: string
        description: user email
      password:
        type: string
        description: user password
      firstName:
        type: string
        description: user first name
      lastName:
        type: string
        description: user last name
  Login:
    type: object
    properties:
      email:
        type: string
        description: user email
      password:
        type: string
        description: user password
  ApiResponse:
    type: object
    properties:
      status:
        type: integer
      message:
        type: string
      body:
        type: object
        properties:
          id:
            type: string
          email:
            type: string
  LoginResponse:
    type: object
    properties:
      token:
        type: string
  UserProfile:
    type: object
    properties:
      firstName:
        type: string
      lastName:
        type: string
  TransactionSchema:
    type: object
    properties:
      id:
        type: string
      sendTo:
        type: string
      date: 
        type: string
        format: date
      amount:
        type: number
      description:
        type: string
      type:
        type: string
      category:
        type: string
      notes:
        type: string
  NewTransactionSchema:
    type: object
    properties:
      category:
        type: string
      notes:
        type: string
  GetAllTransactions:
    type: object
    properties:
      account:
        type: array
        items:
          $ref: '#/definitions/TransactionSchema'
